
#title{
    background-color:#ff4c68 ;
}
.navbar-brand a{
    font-family: 'Ubuntu', sans-serif;
    
}

.row h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;

}